<h1>The Details</h1>
<a href="/movies/{{aMovie._id}}/edit">edit movie</a>
<img src="{{aMovie.image}}" alt=""/>
<h2>{{aMovie.title}}</h2>
<h3>{{aMovie.director}}</h3>
<h4>{{aMovie.stars}}</h4>
<h5>{{aMovie.description}}</h5>
<h6>{{aMovie.showtimes}}</h6>

<a href="/movies">back to movies</a>

